/* Style */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Container */
.container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 90vh;
}
/* Row for flexing the form and post */
.row {
  display: flex;
  justify-content: space-between;
}
/* header style */
.container header h4 {
  font-size: 30px;
  margin: 20px 0;
}

/* font- container style */
.form-container {
  width: 35vw;
}
form {
  width: 100%;
}
form p {
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  padding: 10px;
}
button {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background-color: #008753;
  color: #fff;
}
/* post container style */
.post-container {
  width: 40vw;
  margin-left: 100px;
}
ul {
  list-style: none;
}
li {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
/* icon span */
span {
  display: flex;
}
span i {
  margin: 0 10px;
}
.fa-pen {
  color: #008753;
}
.fa-trash {
  color: rgb(185, 2, 2);
}

/* Media responsiveness*/
@media screen and (max-width: 960px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .row {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  /* Form container */
  .form-container {
    width: 95%;
    margin: 0;
  }
  /* post container style */
  .post-container {
    width: 95%;
    margin: 0;
    margin-top: 20px;
  }
}
